{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('user.css', 'css') }}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div id="container col-sm-12">
            <div class="user-bundle-block">
                <div class="user-form-block">
                Hello world
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}