{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container col-sm-12">
            <div id="welcome">
                <div class="block">
                    <h1><span>Результаты </span></h1>
                    <div class="bot-result">   <div class="message-from" data-chat-id="328438276">kilinsight</div></div>
                    <div class="bot-result">   <div class="message-from" data-chat-id="334733456">Natasha</div></div>
                    <div class="refresh-button">
                        <i class="fas fa-redo-alt btn btn-default"></i>
                    </div>
                </div>

                <div class="bot-results">

                </div>

                <div id="next">
                    <textarea name="" id="send-message-textarea" cols="30" rows="10" class="send-message-text"></textarea>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">


    </script>
{% endblock %}

{% block footer %}
    {{ parent() }}

    <div class="command-buttons-block">
        <button class="btn btn-default command-buttons" data-chat-id="328438276" data-command="sendPhoto">Send Photo Me</button>
        <button class="btn btn-default command-buttons" data-chat-id="334733456" data-command="sendPhoto">Send Photo Natasha</button>
        <button class="btn btn-default command-buttons" data-command="setWebhook">Set Webhook</button>
        <button class="btn btn-default command-buttons" data-command="getUpdates">Get Updates</button>
        <button class="btn btn-default command-buttons" data-command="sendMessage">Send Message</button>
    </div>

    <div class="test-ajax-block">
        <input type="ajax-url" class="form-control ajax-url-input" value="setWebhook" />
        <textarea name="" id="send-body-textarea" cols="30" rows="10" class="send-body-text">{"":}</textarea>
        <button class="btn btn-default command-buttons" data-command="sendAjax">Send Ajax</button>
    </div>
{% endblock %}
