{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container col-sm-12">
            <div id="welcome">
                <div class="block">
                    <h1><span>Результаты </span></h1>
                </div>

                <div class="bot-results">

                </div>


                <div class="test-ajax-block">
                    <input type="ajax-url" class="form-control ajax-url-input" value="getWebhookInfo" />
                    <textarea name="" id="send-body-textarea" cols="30" rows="10" class="send-body-text">{"":}</textarea>
                    <button class="btn btn-default command-buttons" data-command="sendAjax">Send Ajax</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">


    </script>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}