{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <body>

    <div class="container content text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <h1><span>Обработка открытых данных с сайта trudvsem.ru</h1>
                </div>
            </div>
        </div>
            <div class="row both-col">
            <div class="left-col">
                <form method="POST" class="search-form">
                    <h5>Введите параметры поиска:</h5>
                    <div class="c-regions left-col__inner">
                        <div class="c-regions__checked"></div>
                        <input  autocomplete="off" class="c-regions__input form-control" type="text" id="regions_input" name="regions" placeholder="Введите регион">
                        <ul class="c-regions__container">
                        </ul>
                    </div>

                    <div class="c-industries  left-col__inner">
                        <div class="c-industries__checked"></div>
                        <input  autocomplete="off" class="c-industries__input form-control" type="text" id="industries_input" name="industries" placeholder="Введите сферу деятельности">
                        <ul class="c-industries__container">
                        </ul>
                    </div>

                    <div class="c-professions  left-col__inner">
                        <div class="c-professions__checked"></div>
                        <input  autocomplete="off" class="c-professions__input form-control" type="text" id="professions_input" name="professions" placeholder="Введите профессию">
                        <ul class="c-professions__container">
                        </ul>
                    </div>

                    <div class="c-organizations  left-col__inner">
                        <div class="c-organizations__checked"></div>
                        <input  autocomplete="off" class="c-organizations__input form-control" type="text" id="organizations_input" name="organizations" placeholder="Введите организацию">
                        <ul class="c-organizations__container">
                        </ul>
                    </div>

                    <button class="btn btn-success" id="regions_tab_search_button" type="button" name="search" value="1">Поиск</button>
                </form>
            </div>
                <div class="right-col">
                    <h2>Выберите параметры в меню</h2>
                    <div class="right-col__section left__section"></div>
                    <div class="right-col__section right__section"></div>
                </div>
            </div>
        </div>
    </div>

    </body>
    </html>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ path }}/web/js/regions.js"></script>
{% endblock %}

