{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container col-sm-12">
            <div id="welcome">
                <div class="block">
                    <h1><span>Результаты </span></h1>
                    <em>{{ content }}</em>
                </div>

            <div class="regions-block">
                <ul class="regions">

                </ul>
                <br>
                <hr>
            </div>


            <div id="next">

            </div>

        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">


    </script>
{% endblock %}

