{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block body %}
    <body>

    <div class="container content text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <h1><span>Обработка открытых данных с сайта trudvsem.ru</h1>
                </div>
            </div>
        </div>
            <div class="row both-col">
            <div class="left-col">
                <form action="/get_results" method="POST" class="search-form">
                    <h5>Введите параметры поиска:</h5>
                    <div class="c-regions">
                        <input  autocomplete="off" class="c-regions__input form-control" type="text" id="searchQuery" name="searchQuery" placeholder="Введите запрос">
                        <ul class="c-regions__container">
                        </ul>
                    </div>
                    <input class="form-control" type="text" id="vacancy" placeholder="Введите вакансию">
                    <input class="form-control" type="text" id="region" placeholder="Введите регион">
                    <input class="form-control" type="text" id="town" placeholder="Введите город">
                    <h5>Введите диапазон заработной платы:</h5><input class="form-control" type="text" name="money1" id="money1" placeholder="От">
                    <input  class="form-control" type="text" id="money2" name="money2" placeholder="До">
                    <button class="btn btn-default" type="button" id="search_button" value="1">Поиск</button>
                </form>
            </div>
                <div class="right-col" id="result_area">
                    {#<h2>Выберите параметры в меню</h2>#}
                    {#<div class="vac-title">Web-разработчик</div>#}
                    <iframe class="iframe" src="https://trudvsem.ru/vacancy/card/313171916400040/1693bbb6-28e2-11e7-bdb6-037acc02728d" >  </iframe>
                </div>

            </div>
            <div class="container col-sm-12">
                <div class="row get-regions">
                    <button class="btn btn-success btn-lg" id="update_db" type="button"> Обновить базу</button>
                    <button class="btn btn-success btn-lg" id="get_raw_xml" type="button"> Прочитать xml</button>
                    <label for="update_db">(операция занимает около 30 минут)</label>
                </div>
            </div>
        </div>
    </div>

    </body>
    </html>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ path }}/web/js/search_vacancy.js"></script>
    <script>

    </script>
{% endblock %}

