body{
    min-height: 100vh;
}

.wrapper{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 132px);
}

.block{
    display:flex;
    justify-content: flex-start;
    align-content: center;
}

.bot-results{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    padding:5px;
    margin: 5px;
    border: 1px #ddd outset;
}


.bot-result.selected{
    background-color: #ddd353;
}

.bot-result:hover{
    cursor: pointer;
    border: 1px #ddd inset;
    background-color: #ddd;
    align-items: center;
}

.test-ajax-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    max-width: 400px;
    min-height: 300px;
}
.ajax-url-input{
    width: 20%;
}

.command-buttons{
    margin: 0 5px;
}

#send-body-textarea{
    width: 400px;
}

div#display{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 512px;
}